<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Node</title>
    <link rel = "icon" href="../svgs/logo.svg"/>
    <link rel="stylesheet" href="../styles/output.css"/>
    <link rel="stylesheet" href="../styles/index.css"/>
    <link rel = "stylesheet" href = "../styles/navigation.css"/>
    <link rel="stylesheet" href="../styles/sign.css"/>
</head>
<body>
    <main id = "home-main">
        <div id = "navigation-output"></div>
        <script>
            let navigation = `<%- include("navigation.ejs") %>`;
            document.querySelector("#navigation-output").innerHTML = navigation;
        </script>
        <div id = "home-background">
            <div id = "home-background-div"></div>
        </div>
        <div id = "home-container">
            <div id = "home-area">
                <section class = "home-sections" id = "home-text-section">
                    <div id = "home-texts-div">
                        <div id = "texts-div">
                            <div id = "home-title-div">
                                <img id = "home-title-icon" src = "../svgs/logo.svg">
                                <h1 id = "home-title"></h1>
                            </div>
                            <div id = "home-subtitle-div">
                                <p id = "home-subtitle">Conecte-se e compartilhe os bons momentos com as pessoas que fazem parte da sua vida.</p>
                            </div>
                        </div>
                        <div id = "home-login-button-div">
                            <button type = "button" id = "home-login-button" onclick="openForms(); callLoginForm()"></button>
                        </div>
                    </div>
                    <div id = "home-signup-div">
                        <span id = "home-signup">Não tem uma conta? <button type = "button" class="open-form-buttons" id = "open-form-signup" onclick = "openForms(); callSignupForm()">Cadastre-se</button></span>
                    </div>
                </section>
                <section class = "home-sections" id = "home-image-section">
                    <div class="" id = "home-image-div">
                        <div id = "mobile-video-div">
                            <!--<iframe id = "mobile-video" width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?si=qofGsoqPaTAf8Zgo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>-->
                            <video src = "https://media.discordapp.net/attachments/1046113868730081460/1162907778604617829/video.mp4?ex=653da544&is=652b3044&hm=a7ec0c63604b291f47d5d90f06d8c8e25642443e4777eda152d453a18b497bd4&" tabindex="-1" id = "mobile-video" width="560" height="315" controls></video>
                        </div>
                        <button id = "mobile-button" onclick = "mobileRotate()"></button>
                        <div id = "home-image-mobile"></div>
                        <img id = "home-image" style = "background-image: url('./images/mobile/mobile(0).png')"></img>
                    </div>
                </section>
                <section class = "home-sections" id = "home-form-section">
                    <div class="form-divs" id = "login-div">
                        <div class = "form-title-divs">
                            <h1 class = "form-titles">Login</h1>
                        </div>
                        <form class = "sign-forms" id = "login-form" method="post" action ="/login" enctype="application/x-www-form-urlencoded">
                            <div class = "sign-grid-divs" id = "sign-grid-1">
                                <label class = "sign-labels" for = "login-email">E-mail:</label>
                                <div class = "sign-input-divs">
                                    <input type = "email" class = "sign-text-inputs" name = "email" id = "login-email" placeholder = "E-mail"/>
                                    <img class = "input-icons" id = "login-email-icon" src = "../svgs/index/forms/email.svg"></img>
                                    <img class = "input-warning-icons hide" id = "login-email-warning" src = "../images/warning.png"></img>
                                </div>
                            </div>
                            <div class = "sign-grid-divs" id = "sign-grid-3">
                                <label class = "sign-labels" for = "login-password">Senha:</label>
                                <div class = "sign-input-divs">
                                    <input type = "password" class = "sign-text-inputs password" name = "password" id = "login-password" placeholder = "Senha"/>
                                    <img class = "input-icons" id = "login-password-icon" src = "../svgs/index/forms/password.svg"></img>
                                    <button type = "button" class = "password-reveal-buttons" onclick = "passwordReveal('login-password')">
                                        <img class = "password-reveal-icons"></img>
                                    </button>
                                </div>
                            </div>
                            <div class = "sign-grid-divs" id = "sign-grid-5">
                                <button type="submit" class="sign-submits" id = "login-submit">Entrar</button>
                            </div>
                        </form>
                        <section id = "google-section">
                            <div id = "google-or-div">
                                <span id = "google-or">Ou</span>
                            </div>
                            <button id = "google-button">
                                <div id = "google-colors-div">
                                    <!--<img id = "google-button-icon" src = "../svgs/index/google.svg">-->
                                    <span class = "google-colors red"></span>
                                    <span class = "google-colors yellow"></span>
                                    <span class = "google-colors green"></span>
                                    <span class = "google-colors blue"></span>
                                </div>
                                <div id = "google-button-text-div">
                                    <p id = "google-button-text">Entrar com o Google</p>
                                </div>
                            </button>
                        </section>
                        <div class = "sign-redirect-divs">
                            <span class = "sign-redirects">Não tem uma conta? <button type = "button" class="open-form-buttons" id = "open-form-signup" onclick = "callSignupForm()">Cadastre-se</button></span>
                        </div>
                        <div class = "sign-warning-divs">
                            <span class = "sign-warnings text-red-500" id = "login-warning"></span>
                        </div>
                    </div>
                    <div class="form-divs closed" id = "signup-div">
                        <div class = "form-title-divs">
                            <h1 class = "form-titles">Cadastre-se</h1>
                        </div>
                        <form class = "sign-forms" id = "signup-form" method="post" action ="/signup">
                            <div class = "sign-grid-divs" id = "sign-grid-1">
                                <label class = "sign-labels" for = "firstName">Primeiro nome:</label>
                                <div class = "sign-input-divs">
                                    <input type = "text" class = "sign-text-inputs" name = "firstName" id = "firstName" maxlength="100"/>
                                    <img class = "input-icons" id = "signup-firstname-icon" src = "../svgs/index/forms/user.svg"></img>
                                </div>
                            </div>
                            <div class = "sign-grid-divs" id = "sign-grid-2">
                                <label class = "sign-labels" for = "lastName">Último nome:</label>
                                <div class = "sign-input-divs">
                                    <input type = "text" class = "sign-text-inputs" name = "lastName" id = "lastName" maxlength="100"/>
                                    <img class = "input-icons" id = "signup-lastname-icon" src = "../svgs/index/forms/user.svg"></img>
                                </div>
                            </div>
                            <div class = "sign-grid-divs" id = "sign-grid-3">
                                <label class = "sign-labels" for = "date">Data de nascimento:</label>
                                <div class = "sign-input-divs">
                                    <input type = "date" class = "sign-text-inputs" name = "date" id = "date" min="1920-01-01"/>
                                    <img class = "input-icons" id = "signup-date-icon" src = "../svgs/index/forms/calendar.svg"></img>
                                    <script type = "text/javascript">
                                        let d = new Date();
                                        document.querySelector("#date").max = `${d.toISOString().split('T')[0]}`;
                                    </script>
                                </div>
                            </div>
                            <div class = "sign-grid-divs" id = "sign-grid-4">
                                <label class = "sign-labels">Gênero:</label>
                                <div id = "sign-radio-option-div">
                                    <div class = "sign-radio-divs">
                                        <input type = "radio" class = "sign-gender-inputs" name = "gender" value = "M" id = "gender-m" required/>
                                        <div class="sign-labels-gender-divs">
                                            <label class = "sign-labels gender" for = "gender-m">Masculino</label>
                                        </div>
                                    </div>
                                    <div class = "sign-radio-divs">
                                        <input type = "radio" class = "sign-gender-inputs" name = "gender" value = "F" id = "gender-f" required/>
                                        <div class="sign-labels-gender-divs">
                                            <label class = "sign-labels gender" for = "gender-f">Feminino</label>
                                        </div>
                                    </div>
                                    <div class = "sign-radio-divs">
                                        <input type = "radio" class = "sign-gender-inputs" name = "gender" value = "O" id = "gender-o" required/>
                                        <div class="sign-labels-gender-divs">
                                            <label class = "sign-labels gender" for = "gender-o">Outro</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class = "sign-grid-divs" id = "sign-grid-5">
                                <label class = "sign-labels" for = "signup-email">E-mail:</label>
                                <div class = "sign-input-divs">
                                    <input type = "email" class = "sign-text-inputs" name = "email" id = "signup-email" placeholder = "E-mail"/>
                                    <img class = "input-icons" id = "signup-email-icon" src = "../svgs/index/forms/email.svg"></img>
                                    <img class = "input-warning-icons hide" id = "signup-email-warning" src = "../images/warning.png">
                                </div>
                            </div>
                            <div class = "sign-grid-divs" id = "sign-grid-6">
                                <label class = "sign-labels" for = "phone">Telefone:</label>
                                <div class = "sign-input-divs">
                                    <input type = "tel" class = "sign-text-inputs" name = "phone" id = "phone" maxlength="14" placeholder="(__)_____-____"/>
                                    <img class = "input-icons" id = "signup-phone-icon" src = "../svgs/index/forms/phone.svg"></img>
                                </div>
                            </div>
                            <div class = "sign-grid-divs" id = "sign-grid-7">
                                <label class = "sign-labels" for = "signup-password">Senha:</label>
                                <div class = "sign-input-divs">
                                    <input type = "password" class = "sign-text-inputs password" name = "password" id = "signup-password"/>
                                    <img class = "input-icons" id = "signup-password-icon" src = "../svgs/index/forms/password.svg"></img>
                                    <button type = "button" class = "password-reveal-buttons" onclick = "passwordReveal('signup-password')">
                                        <img class = "password-reveal-icons"></img>
                                    </button>
                                </div>
                            </div>
                            <div class = "sign-grid-divs" id = "sign-grid-8">
                                <label class = "sign-labels" for = "password-validate">Verificar senha:</label>
                                <div class = "sign-input-divs">
                                    <input type = "password" class = "sign-text-inputs password" id = "password-validate"/>
                                    <img class = "input-icons" id = "signup-password-validade-icon" src = "../svgs/index/forms/password.svg"></img>
                                    <button type = "button" class = "password-reveal-buttons" onclick = "passwordReveal('password-validate')">
                                        <img class = "password-reveal-icons"></img>
                                    </button>
                                </div>
                            </div>
                            <div class = "sign-grid-divs" id = "sign-grid-9">
                                <button type="submit" class="sign-submits" id = "signup-submit">Enviar</button>
                            </div>
                        </form>
                        <div class = "sign-redirect-divs">
                            <span class = "sign-redirects">Já tem uma conta? <button type = "button" class="open-form-buttons" id = "open-form-login" onclick = "callLoginForm()">Faça login</button></span>
                        </div>
                        <div class = "sign-warning-divs">
                            <span class = "sign-warnings text-red-500" id = "signup-warning"></span>
                        </div>
                    </div>
                    <div id = "return-button-div">
                        <button type = "button" id = "return-button" onclick="closeForms()">Voltar</button>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <script type="text/javascript" src = "../scripts/index/backgroundHueRotate.js"></script>
    <script type="text/javascript" src = "../scripts/index/callLoginForm.js"></script>
    <script type="text/javascript" src = "../scripts/index/callSignupForm.js"></script>
    <script type="text/javascript" src = "../scripts/index/closeForms.js"></script>
    <script type="text/javascript" src = "../scripts/index/createBackgroundBoxes.js"></script>
    <script type="text/javascript" src = "../scripts/index/googleAuth.js"></script>
    <script type="text/javascript" src = "../scripts/index/hideFormLogin.js"></script>
    <script type="text/javascript" src = "../scripts/index/hideFormSignup.js"></script>
    <script type="text/javascript" src = "../scripts/index/inputErrorAlert.js"></script>
    <script type="text/javascript" src = "../scripts/index/loginEmailValidate.js"></script>
    <script type="text/javascript" src = "../scripts/index/loginErrorAlert.js"></script>
    <script type="text/javascript" src = "../scripts/index/loginPasswordValidate.js"></script>
    <script type="text/javascript" src = "../scripts/index/mobileAnimation.js"></script>
    <script type="text/javascript" src = "../scripts/index/mobileRotate.js"></script>
    <script type="text/javascript" src = "../scripts/index/openForms.js"></script>
    <script type="text/javascript" src = "../scripts/index/passwordHide.js"></script>
    <script type="text/javascript" src = "../scripts/index/passwordReveal.js"></script>
    <script type="text/javascript" src = "../scripts/index/passwordShow.js"></script>
    <script type="text/javascript" src = "../scripts/index/passwordValidate.js"></script>
    <script type="text/javascript" src = "../scripts/index/removeInputError.js"></script>
    <script type="text/javascript" src = "../scripts/index/removeInputErrors.js"></script>
    <script type="text/javascript" src = "../scripts/index/showFormLogin.js"></script>
    <script type="text/javascript" src = "../scripts/index/showFormSignup.js"></script>
    <script type="text/javascript" src = "../scripts/index/signupDate.js"></script>
    <script type="text/javascript" src = "../scripts/index/signupEmailValidate.js"></script>
    <script type="text/javascript" src = "../scripts/index/signupGender.js"></script>
    <script type="text/javascript" src = "../scripts/index/signupName.js"></script>
    <script type="text/javascript" src = "../scripts/index/signupPassword.js"></script>
    <script type="text/javascript" src = "../scripts/index/signupPhone.js"></script>
    <script type="text/javascript" src = "../scripts/index/titleWrite.js"></script>
    <script type="text/javascript" src = "../scripts/index/validateLogin.js"></script>
    <script type="text/javascript" src = "../scripts/index/validateSignup.js"></script>
    <script type="text/javascript" src = "../scripts/index/warningAlert.js"></script>
    <script type="text/javascript">
        const loginEmail = document.querySelector("#login-email");
        const loginEmailWarning = document.querySelector("#login-email-warning");
        const loginPassword = document.querySelector("#login-password");
        const loginWarning = document.querySelector("#login-warning");
        
        const signupEmail = document.querySelector("#signup-email");
        const signupEmailWarning = document.querySelector("#signup-email-warning");
        const signupWarning = document.querySelector("#signup-warning");

        <% if(typeof error !="undefined" && error) { %>
            let errorType = <%- error.type %>;
            let errorMessage = <%- error.message %>;
            openForms();

            /* Login */
            if(errorType == "EmailNotFound") {
                inputErrorAlert(loginEmail);
                loginEmailWarning.classList.remove("hide");
                loginWarning.innerHTML = errorMessage;
                callLoginForm();
            }
            if(errorType == "InvalidPassword") {
                inputErrorAlert(loginPassword);
                loginWarning.innerHTML = errorMessage;
                callLoginForm();
            }
            /* Cadastro */
            if(errorType == "signupValidation") {
                <% if(typeof error.key !="undefined" && error.key) { %>
                    var errorKey = <%- error.key %>;
                <% } %>
                const keyInput = document.querySelector(`#${errorKey.replace("email", "signup-email").replace("password", "signup-password")}`);
                if(keyInput) {
                    console.warn(`${errorKey} inválido!`);
                    inputErrorAlert(keyInput);
                    callSignupForm();
                    signupWarning.innerHTML = errorMessage;
                } else {
                    callSignupForm();
                    console.error(`Input de ${errorKey} não encontrado!`);
                };
            };
            /* Login */
            if(errorType == "loginValidation") {
                <% if(typeof error.key !="undefined" && error.key) { %>
                    var errorKey = <%- error.key %>;
                <% } %>
                const keyInput = document.querySelector(`#${errorKey.replace("email", "login-email").replace("password", "login-password")}`);
                if(keyInput) {
                    console.warn(`${errorKey} inválido!`);
                    inputErrorAlert(keyInput);
                    callLoginForm();
                    loginWarning.innerHTML = errorMessage;
                } else {
                    callLoginForm();
                    console.error(`Input de ${errorKey} não encontrado!`);
                };
            };
            if(errorType == "EmailExists") {
                signupEmail.classList.add("error");
                signupEmailWarning.classList.remove("hide");
                signupWarning.innerHTML = errorMessage;
                callSignupForm();
            };
        <% } %>
    </script>
    <script>
        const urlParameters = new URLSearchParams(window.location.search);
        const errorFound = urlParameters.get("error");
        console.error(errorFound);
    </script>
</body>
</html>